.App {
  text-align: center;
}

/* LOGIN FORM - JE ME CONNECTE*/

.screen {
  position: relative;
  height: 30vh;
  width: 20vw;
  box-shadow: 0px 0px 24px #46464c;
}

.screenContent {
  z-index: 1;
  position: relative;
  height: 100%;
}

.containerLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  min-height: 100vh;
}

.loginEmailInput {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}

.loginPasswordInput {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}

.loginForm .login {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
}

.buttonLoginSubmit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 60%;
  color: #4c489d;
  box-shadow: 0px 2px 2px #5c5696;
  cursor: pointer;
  transition: 0.2s;
}

.displayButton {
  color: blue;
  text-align: center;
}
.newPosts {
  text-align: center;
  font-size: larger;
}
.titlePost {
  text-align: center;
}
.returnPost {
text-align: center;

}